{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
<div v-if="showProjectForm"
     class="fixed z-50 inset-0 min-h-screen bg-gray-700 bg-opacity-70 py-6 flex flex-col justify-center sm:py-12">
    <div v-click-outside="closeProjectForm" class="bg-gray-50 mb-44 shadow sm:rounded-xl sm:max-w-xl sm:mx-auto">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Create a new project
            </h3>
            <div class="mt-2 max-w-xl text-sm text-gray-500">
                <p>
                    Add a name and description to your project
                </p>
            </div>
            <form class="mt-5" @submit.prevent="createProject">
                <div class="w-full sm:max-w-xs">
                    <label for="project_name" class="sr-only">Name</label>
                    <label for="project_description" class="sr-only">Description</label>
                    <input type="text" id="project_name" name="project_name"
                           required
                           v-model="newProjectName"
                           class="bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                           placeholder="Project name"
                    />
                    <textarea name="project_description" id="project_description" rows="3"
                              v-model="newProjectDescription"
                              placeholder="Project description (optional)"
                              class="bg-white my-4 relative w-full text-gray-700 rounded-md shadow pl-5 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                    ></textarea>
                </div>
                <div class="flex items-center justify-end">
                    <button type="reset"
                            @click="closeProjectForm"
                            class="mt-3 ml-3 w-full inline-flex px-4 py-2 border border-gray-200 shadow-sm font-medium rounded-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                        Close
                    </button>
                    <button type="submit"
                            class="mt-3 w-full inline-flex px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div v-if="showChannelForm"
     class="fixed z-50 inset-0 min-h-screen bg-gray-700 bg-opacity-70 py-6 flex flex-col justify-center sm:py-12">
    <div v-click-outside="closeChannelForm" class="bg-gray-50 mb-44 shadow sm:rounded-xl sm:max-w-xl sm:mx-auto">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Create a new channel
            </h3>
            <div class="mt-2 max-w-xl text-sm text-gray-500">
                <p>
                    Add a name and description to your channel
                </p>
            </div>
            <form class="mt-5" @submit.prevent="createChannel">
                <div class="w-full sm:max-w-xs">
                    <label for="channel_name" class="sr-only">Name</label>
                    <label for="channel_description" class="sr-only">Description</label>
                    <div class="flex">
                        <input type="text" id="channel_name" name="channel_name"
                               required
                               v-model="newChannelName"
                               class="bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                               placeholder="Channel name"
                        />
                        <div class="w-48 ml-3 flex-initial" v-click-outside="hideChannelProjects">
                            <div class="relative">
                                <div class="flex">
                                    <button
                                            @click="showChannelProjects = !showChannelProjects"
                                            type="button"
                                            class="bg-white relative w-full rounded-md shadow pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-pointer"
                                    >
                                            <span v-if="selectedProject"
                                                  class="block truncate text-sm font-medium text-gray-700"
                                                  v-text="selectedProject.name"></span>
                                        <span v-else class="block truncate text-sm text-gray-400">Project</span>

                                        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                          d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            </span>
                                    </button>
                                </div>

                                <ul v-if="showChannelProjects"
                                    class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                                    tabindex="-1" role="listbox"
                                >
                                    <li v-for="project in projects"
                                        :key="project.id"
                                        class="project-select text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 rounded-md"
                                        role="option"
                                        @click="selectProject(project)"
                                    >
                                            <span class="block truncate"
                                                  :class="project === selectedProject ? 'font-semibold' : 'font-normal'"
                                                  v-text="project.name"></span>
                                        <span v-if="project === selectedProject"
                                              class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true"
                                                >
                                                    <path fill-rule="evenodd"
                                                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                          clip-rule="evenodd"
                                                    />
                                                </svg>
                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <textarea name="channel_description" id="channel_description" rows="3"
                              v-model="newChannelDescription"
                              placeholder="Channel description (optional)"
                              class="bg-white my-4 relative w-full text-gray-700 rounded-md shadow pl-5 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                    ></textarea>
                </div>
                <div class="flex items-center justify-end">
                    <button type="reset"
                            @click="closeChannelForm"
                            class="mt-3 ml-3 w-full inline-flex px-4 py-2 border border-gray-200 shadow-sm font-medium rounded-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                        Close
                    </button>
                    <button type="submit"
                            class="mt-3 w-full inline-flex px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="flex">
    <div class="w-48 mb-4 flex-initial" v-click-outside="hideProjects">
        <div class="mt-1 relative">
            <div class="flex">
                <button
                        @click="showProjects = !showProjects"
                        type="button"
                        class="bg-white relative w-full rounded-md shadow pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-pointer"
                >
                        <span v-if="selectedProject" class="block truncate text-sm font-semibold text-gray-700"
                              v-text="selectedProject.name"></span>
                    <span v-else class="block truncate text-sm font-medium text-gray-400">Project</span>

                    <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                      </span>
                </button>

                {% if user.role == "super" %}
                <button @click="openProjectForm"
                        class="ml-4 my-0.5 px-1.5 py-1 border border-transparent text-md font-medium rounded-md opacity-90
                            shadow text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-0">
                    +
                </button>
                {% endif %}
            </div>

            <ul v-if="showProjects"
                class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                tabindex="-1" role="listbox"
            >
                <li class="flex text-gray-500 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 rounded-md hover:text-white"
                    @click="selectProject(null)">
                    <span class="flex-grow truncate font-medium" @click="selectProject(null)">all projects</span>
                </li>
                <li v-for="project in projects"
                    :key="project.id"
                    class="project-select flex text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 rounded-md"
                    role="option"
                >
                        <span class="flex-grow truncate"
                              :class="project === selectedProject ? 'font-semibold' : 'font-medium'"
                              @click="selectProject(project)"
                              v-text="project.name"></span>
                        <span v-if="project === selectedProject"
                              class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 aria-hidden="true"
                            >
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"
                                />
                            </svg>
                        </span>
                        <span v-else @click="deleteProject(project)"
                              class="material-icons text-red-600 absolute inset-y-0 right-0 flex items-center pr-3 text-xl hover:text-red-700">close</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="w-48 mb-4 ml-8 flex-initial" v-click-outside="hideChannels">
            <div class="mt-1 relative">
                <div class="flex">
                    <button @click="showChannels = !showChannels"
                            type="button"
                            class="bg-white relative w-full rounded-md shadow pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-pointer">

                        <span v-if="selectedChannel" class="block truncate text-sm font-semibold text-gray-700"
                              v-text="selectedChannel.name"></span>
                        <span v-else class="block truncate text-sm font-medium text-gray-400">Channel</span>

                        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                      </span>
                    </button>

                    {% if user.role == "super" %}
                        <button @click="openChannelForm"
                                class="ml-4 my-0.5 px-1.5 py-1 border border-transparent text-md font-medium rounded-md opacity-90
                            shadow text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-0">
                            +
                        </button>
                    {% endif %}
                </div>

                <ul
                        v-if="showChannels"
                        class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md text-base transition ease-in duration-100 ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                        tabindex="-1" role="listbox"
                >
                    <li class="flex text-gray-400 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 rounded-md hover:text-white"
                        @click="selectChannel(null)">
                        <span class="flex-grow truncate font-medium">all channels</span>
                    </li>
                    <li
                            v-for="channel in filteredChannels"
                            :key="channel.id"
                            class="project-select flex text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 rounded-md"
                            role="option"
                    >
                        <span class="truncate font-medium text-gray-500 text-sm"
                              v-text="getProjectName(channel.project_id) + ':'" @click="selectChannel(channel)"></span>
                        <span class="flex-grow truncate"
                              :class="channel === selectedChannel ? 'font-semibold' : 'font-medium'"
                              @click="selectChannel(channel)"
                              v-text="channel.name"></span>
                        <span v-if="channel === selectedChannel"
                              class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg
                                    class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                />
                            </svg>
                        </span>
                        <span v-else @click="deleteChannel(channel)"
                              class="material-icons text-red-600 absolute inset-y-0 right-0 flex items-center pr-3 text-xl hover:text-red-700">close</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex-grow items-center mb-4 ml-6">
            <div class="mt-1 hidden sm:flex-1 sm:flex sm:items-center sm:justify-end">
                <div>
                    <nav class="relative z-0 inline-flex rounded-md shadow -space-x-px">
                        <button v-if="pageNumber !== 0" @click="changePage(--pageNumber)"
                           class="relative inline-flex items-center px-2 py-2 rounded-l-md bg-white text-sm font-medium text-gray-400 hover:bg-gray-50">
                            <span class="sr-only">Previous</span>
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div v-else
                           class="relative inline-flex items-center px-2 py-2 rounded-l-md bg-white text-sm font-medium text-gray-300">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="w-10 z-10 bg-white text-pink-600 relative inline-flex items-center text-center px-4 py-2 text-sm font-semibold cursor-default" v-text="pageNumber + 1" >
                        </div>
                        <button v-if="pageNumber < pageCount - 1" @click="changePage(++pageNumber)"
                           class="relative inline-flex items-center px-2 py-2 rounded-r-md bg-white text-sm font-medium text-gray-400 hover:bg-gray-50">
                            <span class="sr-only">Next</span>
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div v-else
                           class="relative inline-flex items-center px-2 py-2 rounded-r-md bg-white text-sm font-medium text-gray-300">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="w-56 mb-4 ml-4 justify-end">
            <div class="mt-1 relative">
                <label for="search" class="sr-only">Search</label>
                <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center z-10">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <input type="search" id="search" name="search"
                       v-model="search"
                       class="bg-white relative w-full text-gray-700 rounded-md shadow pl-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                       placeholder="Search..."
                />
            </div>
        </div>
    </div>

<div class="flex flex-col cursor-default">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto border-b border-gray-200 sm:rounded-lg rounded-lg shadow overflow-y-auto relative">
                <table class="divide-y divide-gray-200 border-collapse min-w-full table-striped relative cursor-default">
                    <thead class="bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    <tr>
                        <th scope="col"
                            class="px-5 py-2.5">
                            №
                        </th>
                        <th scope="col"
                            class="px-4 py-2.5">
                            Project
                        </th>
                        <th scope="col"
                            class="px-4 py-2.5">
                            Channel
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Name
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Auth
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Updated
                        </th>
                        <th scope="col"
                            class="p-3">
                            Details
                        </th>
                        {% if user.role == "super" %}
                        <th scope="col" class="relative p-3">
                            <span class="sr-only">Delete</span>
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="!filteredContainers.length"
                        class="text-center">
                        {% if user.role == "super" %}
                        <td colspan="8"
                            class="py-14 whitespace-nowrap text-md font-medium text-gray-500 bg-white">
                            No containers...
                        </td>
                        {% else %}
                        <td colspan="7"
                            class="py-14 whitespace-nowrap text-md font-medium text-gray-500 bg-white">
                            No containers...
                        </td>
                        {% endif %}
                    </tr>
                    <tr v-else v-for="(container, index) in filteredContainers"
                        :key="container.slug + container.project_id + container.channel_id"
                        class="text-center"
                        :class="randomColor(container.channel_id)">
                        <td class="p-3 whitespace-nowrap text-sm font-medium text-gray-400" v-text="pageNumber * size + (index + 1)"/>
                        <td class="p-3 whitespace-nowrap text-sm font-medium text-gray-600" v-text="getProjectName(container.project_id)"/>
                        <td class="p-3 whitespace-nowrap text-sm font-medium text-gray-600" v-text="getChannelName(container.channel_id)"/>
                        <td class="p-3 whitespace-nowrap text-sm font-medium text-gray-900" v-text="container.slug"/>
                        <td v-if="JSON.parse(container.auth) instanceof Object" class="p-3 py-4 text-sm text-gray-500">
                            <div class="flex justify-center items-center">
                                <p v-for="key in Object.keys(JSON.parse(container.auth).auths)" :key="key">[[ key ]]</p>
                            </div>
                        </td>
                        <td v-else-if="container.auth" class="p-3 py-4 text-sm text-gray-500">
                            <div class="flex justify-center items-center">
                                <p>token</p>
                            </div>
                        </td>
                        <td v-else class="p-3 py-3 whitespace-nowrap text-sm font-medium text-gray-900">
                            <p class="sr-only">Empty</p>
                        </td>
                        <td class="p-3 text-sm text-gray-500" v-text="container.updated_time">
                        </td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-500">
                            <div class="flex justify-center items-center text-center">
                                        <span class="px-2 py-0.5 text-sm opacity-80 rounded-md shadow-sm text-white bg-pink-600 hover:opacity-100 cursor-pointer"
                                              @click="openContainerDetails(container)">open</span>
                            </div>
                        </td>
                        {% if user.role == "super" %}
                        <td class="p-3 pr-6 whitespace-nowrap opacity-80 text-right text-sm font-medium hover:opacity-100">
                            <button @click="deleteContainer(container)"
                                    class="text-indigo-600 hover:text-indigo-900">
                                        <span class="material-icons text-red-500">
                                            delete_outline
                                        </span>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{#  Pagination block  #}
<div v-if="pageCount > 1" class="py-4 flex items-center justify-between">
    <div class="flex-1 flex justify-between sm:hidden">
        <button @click="changePage(--pageNumber)"
           class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous
        </button>
        <button @click="changePage(++pageNumber)"
           class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next
        </button>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-center">
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow -space-x-px">
                <button v-if="pageNumber !== 0" @click="changePage(--pageNumber)"
                   class="relative inline-flex items-center px-2 py-2 rounded-l-md bg-white text-sm font-medium text-gray-400 hover:bg-gray-50">
                    <span class="sr-only">Previous</span>
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
                <div v-else
                   class="relative inline-flex items-center px-2 py-2 rounded-l-md bg-white text-sm font-medium text-gray-300">
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>

                <div v-if="pageCount <= 7" class="inline-flex">
                    <button v-for="page in pageCount" :key="page" v-if="page !== pageNumber + 1" @click="changePage(page - 1)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="page"></button>
                    <div v-else class="w-10 z-10 bg-white relative inline-flex items-center text-center px-2 py-1.5 text-sm font-medium cursor-default">
                        <p class="py-0.5 px-2 bg-pink-500 rounded-full text-white">[[ pageNumber + 1 ]]</p>
                    </div>
                </div>
                <div v-else-if="pageNumber < 3 || pageNumber > pageCount - 4" class="inline-flex">
                    <button v-for="page in pageCount" :key="page" v-if="page <= 3 &&page !== pageNumber + 1" @click="changePage(page - 1)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="page"></button>
                    <div v-else-if="page <= 3" class="w-10 z-10 bg-white relative inline-flex items-center text-center px-2 py-1.5 text-sm font-medium cursor-default">
                        <p class="py-0.5 px-2 bg-pink-500 rounded-full text-white">[[ pageNumber + 1 ]]</p>
                    </div>
                    <div class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium cursor-default">...</div>
                    <button v-for="page in pageCount" :key="page" v-if="page >pageCount - 3 && page !== pageNumber + 1" @click="changePage(page - 1)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="page"></button>
                    <div v-else-if="page > pageCount - 3" class="w-10 z-10 bg-white relative inline-flex items-center text-center px-2 py-1.5 text-sm font-medium cursor-default">
                        <p class="py-0.5 px-2 bg-pink-500 rounded-full text-white">[[ pageNumber + 1 ]]</p>
                    </div>
                </div>
                <div v-else class="inline-flex">
                    <button @click="changePage(0)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="1"></button>
                    <div class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium cursor-default">...</div>
                    <button @click="changePage(--pageNumber)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="pageNumber"></button>
                    <div class="w-10 z-10 bg-white relative inline-flex items-center text-center px-2 py-1.5 text-sm font-medium cursor-default">
                        <p class="py-0.5 px-2 bg-pink-500 rounded-full text-white">[[ pageNumber + 1 ]]</p>
                    </div>
                    <button @click="changePage(++pageNumber)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="pageNumber + 2"></button>
                    <div class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium cursor-default">...</div>
                    <button @click="changePage(pageCount - 1)" class="w-10 z-10 bg-white text-gray-400 relative inline-flex items-center text-center px-4 py-2 text-sm font-medium hover:text-gray-500" v-text="pageCount"></button>
                </div>

                <button v-if="pageNumber < pageCount - 1" @click="changePage(++pageNumber)"
                   class="relative inline-flex items-center px-2 py-2 rounded-r-md bg-white text-sm font-medium text-gray-400 hover:bg-gray-50">
                    <span class="sr-only">Next</span>
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
                <div v-else
                   class="relative inline-flex items-center px-2 py-2 rounded-r-md bg-white text-sm font-medium text-gray-300">
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
            </nav>
        </div>
    </div>
</div>

    <div v-if="selectedContainer"
         class="fixed z-50 inset-0 min-h-screen bg-gray-700 bg-opacity-70 py-6 flex flex-col justify-center sm:py-12">
        <form v-click-outside="closeContainerDetails"
              @submit.prevent="editContainer"
              class="bg-white shadow overflow-hidden overflow-y-scroll sm:rounded-lg sm:max-w-2xl sm:mx-auto relative">
            <div class="sticky top-0 bg-white px-4 py-5 sm:px-6 relative border-b border-gray-200">
                <h3 class="text-xl leading-6 font-medium text-gray-900">
                    Container Information
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                    Details of the "<span class="font-medium text-gray-600">[[ selectedContainer.slug ]]</span>"
                    container
                </p>
                <div class="absolute right-6 top-6">
                    <div class="flex items-center justify-end">
                        <button v-if="containerEditing"
                                type="submit"
                                class="mt-3 ml-3 w-full inline-flex px-3 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-pink-500 hover:bg-pink-700 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                            Save
                        </button>
                        {% if user.role == "super" %}
                            <button v-if="!containerEditing"
                                    @click="startEditingContainer"
                                    type="button"
                                    class="w-full px-4 py-2 ml-3 border border-transparent shadow-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-600 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                                Edit
                            </button>
                            <button v-else
                                    @click="containerEditing = false"
                                    type="button"
                                    class="w-full p-2 ml-3 border border-transparent shadow-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-600 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                Cancel
                            </button>
                        {% endif %}
                        <button v-if="!containerEditing"
                                @click="closeContainerDetails"
                                class="mt-3 ml-3 w-full inline-flex p-2 px-3 border border-gray-200 shadow-sm font-medium rounded-md text-gray-600 bg-gray-50 hover:bg-gray-100 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                            Close
                        </button>
                        <button v-else
                                @click="closeContainerDetails"
                                class="mt-3 ml-3 w-full inline-flex p-2 border border-gray-200 shadow-sm font-medium rounded-md text-gray-600 bg-gray-50 hover:bg-gray-100 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm">
                            X
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-2 sm:px-6">
                        <dt class="p-1.5 text-sm font-medium text-gray-600">
                            Slug
                        </dt>
                        <input v-if="containerEditing" type="text" name="slug"
                               required
                               v-model="editedContainer.slug"
                               class="bg-white text-gray-700 rounded-md shadow p-0.5 text-center cursor-default focus:outline-none sm:text-sm cursor-text sm:col-span-2 border border-gray-200"
                        />
                        <dd v-else
                            class="p-1.5 text-center text-sm text-gray-700 bg-gray-200 col-span-2 rounded-md shadow-inner"
                            v-text="selectedContainer.slug"/>
                        <dt class="p-1.5 text-sm font-medium text-gray-600">
                            Project
                        </dt>
                        <select
                                v-if="containerEditing"
                                v-model="editedContainer.project_id"
                                name="project"
                                required
                                class="bg-white text-gray-700 rounded-md shadow p-0.5 text-center cursor-pointer focus:outline-none sm:text-sm border border-gray-200"
                        >
                            <option v-for="project in projects" :key="project.id" :value="project.id">[[ project.name
                                ]]
                            </option>
                        </select>
                        <dd v-else class="p-1.5 text-center text-sm text-gray-700 bg-gray-200 rounded-md shadow-inner"
                            v-text="getProjectName(selectedContainer.project_id)"/>
                        <dt class="p-1.5 text-sm font-medium text-gray-600">
                            Channel
                        </dt>
                        <select
                                v-if="containerEditing"
                                v-model="editedContainer.channel_id"
                                name="channel"
                                required
                                class="bg-white text-gray-700 rounded-md shadow p-0.5 text-center cursor-pointer focus:outline-none sm:text-sm border border-gray-200"
                        >
                            <option v-for="channel in channels" v-if="channel.project_id === editedContainer.project_id"
                                    :key="channel.id" :value="channel.id">[[ channel.name ]]
                            </option>
                        </select>
                        <dd v-else class="p-1.5 text-center text-sm text-gray-700 bg-gray-200 rounded-md shadow-inner"
                            v-text="getChannelName(selectedContainer.channel_id)"/>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-600">
                            Digest
                        </dt>
                        <label for="token" class="sr-only">Key</label>
                        <input v-if="containerEditing" type="text" name="digest"
                               required
                               v-model="editedContainer.digest"
                               class="bg-gray-50 text-gray-700 rounded-md shadow p-2 text-center cursor-default focus:outline-none sm:text-sm cursor-text sm:col-span-7 border border-gray-200"
                        />
                        <dd v-else
                            class="mt-1 p-2 text-center text-sm text-gray-700 sm:mt-0 sm:col-span-7 overflow-x-scroll bg-gray-200 rounded-md shadow-inner">
                            [[ selectedContainer.digest ]]
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-600">
                            Auth
                        </dt>
                        <textarea v-if="containerEditing" v-model="editedContainer.auth" rows="10" spellcheck="false"
                                  cols="84"
                                  class="bg-white text-gray-700 rounded-md shadow mt-1 pl-5 p-2 text-left cursor-default focus:outline-none text-xs cursor-text sm:col-span-7 border border-gray-200"></textarea>
                        <dd v-else
                            class="mt-1 p-3 text-xs text-gray-900 sm:mt-0 sm:col-span-5 overflow-x-scroll bg-gray-200 rounded-md shadow-inner">
                            <pre>[[ JSON.stringify(JSON.parse(selectedContainer.auth), undefined, 4) ]]</pre>
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-600">
                            Parameters
                        </dt>
                        <textarea v-if="containerEditing" v-model="editedContainer.parameters" rows="24"
                                  spellcheck="false" cols="84"
                                  class="bg-gray-50 text-gray-700 rounded-md shadow mt-1 pl-5 p-2 text-left cursor-default focus:outline-none text-xs cursor-text sm:col-span-7 border border-gray-200"></textarea>
                        <dd v-else
                            class="mt-1 p-3 text-xs text-gray-900 sm:mt-0 sm:col-span-5 overflow-x-scroll bg-gray-200 rounded-md shadow-inner">
                            <pre class="mr-10">[[ JSON.stringify(selectedContainer.parameters, null, '\t') ]]</pre>
                        </dd>
                    </div>
                </dl>
            </div>
        </form>
    </div>
{% endblock content %}

{% block vuejs %}
<script>
    new Vue({
        el: "#app",

        delimiters: ['[[', ']]'],

        data() {
            return {
                search: '',

                showProjects: false,
                showChannels: false,
                showChannelProjects: false,
                openMobileNav: false,
                showProjectForm: false,
                showChannelForm: false,
                containerEditing: false,

                selectedContainer: null,
                selectedProject: null,
                selectedChannel: null,
                editedContainer: null,

                projects: [],
                channels: [],
                containers: [],

                newProjectName: null,
                newProjectDescription: null,

                newChannelName: null,
                newChannelDescription: null,

                pageNumber: 0,
                size: 10,
                pageCount: 0,

                colors: [
                    "bg-green-50",
                    "bg-blue-50",
                    "bg-yellow-50",
                    "bg-red-50",
                    "bg-indigo-50",
                    "bg-purple-50",
                    "bg-pink-50",
                    "bg-white"
                ]
            }
        },

        computed: {
            filteredContainers() {
                let containers_ = this.containers

                if (this.selectedProject) {
                    containers_ = containers_.filter(container => container.project_id === this.selectedProject.id)
                }

                if (this.selectedChannel) {
                    containers_ = containers_.filter(container => container.channel_id === this.selectedChannel.id)
                }

                // apply filtering
                if (this.search) {
                    const search = this.search.toLowerCase().split(' ')
                    containers_ = containers_.filter((c) => {
                        const text = ([c.slug, c.auth].join(' ')).toLowerCase()
                        return search.every(u => text.includes(u))
                    })
                }

                const start = this.pageNumber * this.size,
                    end = start + this.size

                this.pageCount = Math.ceil(containers_.length / this.size)

                return containers_.sort((a, b) => a.updated_time > b.updated_time ? -1 : 1).slice(start, end)
            },

            filteredChannels() {
                let channels_ = this.channels

                if (this.selectedProject) {
                    channels_ = channels_.filter(channel => channel.project_id === this.selectedProject.id)
            }

            return channels_
        }
    },

    methods: {
        slugify(str) {
            return str.toLowerCase()
                .trim()
                .replace(/[^\w\s-]/g, '')
                .replace(/[\s_-]+/g, '-')
                .replace(/^-+|-+$/g, '')
        },

        checkWindowLocation(path) {
            return window.location.pathname === path
        },

        getProjectName(project_id) {
            const project = this.projects.filter(item => item.id === project_id)[0]
            return project.name
        },

        getChannelName(channel_id) {
            const channel = this.channels.filter(item => item.id === channel_id)[0]
            return channel.name
        },

        changeUrl() {
            if (history.pushState) {

                let newUrl = window.location.protocol + '//' + window.location.host + window.location.pathname + '?page=' + (this.pageNumber + 1);

                if (this.selectedProject) {
                    newUrl += '&project=' + this.selectedProject.slug;
                }

                if (this.selectedChannel) {
                    newUrl += '&channel=' + this.selectedChannel.slug;
                }

                window.history.pushState({path: newUrl}, '', newUrl);
            }
        },

        async createProject() {
            const data = {
                name: this.newProjectName,
                slug: this.slugify(this.newProjectName),
                description: this.newProjectDescription
            }
            const project = await fetch("/api/v1/projects/", {
                method: "POST",
                body: JSON.stringify(data)
            }).then(r => r.json())

            this.projects.push(project)
            this.closeProjectForm()
            this.newProjectName = null
            this.newProjectDescription = null
            this.selectProject(project)
        },

        async createChannel() {
            const data = {
                name: this.newChannelName,
                slug: this.slugify(this.newChannelName),
                description: this.newChannelDescription,
                project_id: this.selectedProject.id
            }
            const channel = await fetch("/api/v1/channels/", {
                method: "POST",
                body: JSON.stringify(data)
            }).then(r => r.json())

            this.closeChannelForm()
            this.newChannelName = ''
            this.newChannelDescription = ''
            this.channels.push(channel)
            await this.selectChannel(channel)
        },

        async getProjects() {
            return await fetch("/api/v1/projects/").then(r => r.json())
        },

        async getChannels() {
            return await fetch("/api/v1/channels/").then(r => r.json())
        },

        hideProjects: function () {
            this.showProjects = false
        },

        hideChannelProjects: function () {
            this.showChannelProjects = false
        },

        hideChannels: function () {
            this.showChannels = false
        },

        selectProject(project) {
            this.selectedProject = project
            this.selectedChannel = null
            if (project) {
                this.changeUrl()
            }
            this.hideProjects()
        },

        async selectChannel(channel) {
            if (!this.selectedProject) {
                this.selectedProject = this.projects.filter(item => item.id === channel.project_id)[0]
            }
            this.selectedChannel = channel
            if (channel) {
                this.changeUrl()
            }
            this.hideChannels()
        },

        async deleteContainer(container) {
            const result = confirm(`Are you sure you want to delete the "${container.slug}" container`)

            if (result) {
                await fetch(`/api/v1/container/${container.id}/`, {method: "DELETE"})
                this.containers = this.containers.filter(item => item !== container)
            }
        },

        async deleteChannel(channel) {
            const result = confirm(`Are you sure you want to delete the "${channel.name}" channel`)

            if (result) {
                await fetch(`/api/v1/channels/${channel.id}/`, {method: "DELETE"})
                this.channels = this.channels.filter(item => item !== channel)
            }
        },

        async deleteProject(project) {
            const result = confirm(`Are you sure you want to delete the "${project.name}" project`)

            if (result) {
                await fetch(`/api/v1/projects/${project.id}/`, {method: "DELETE"})
                this.projects = this.projects.filter(item => item !== project)
            }
        },

        openProjectForm() {
            setTimeout(() => {
                this.showProjectForm = true
            }, 0)
        },

        openChannelForm() {
            setTimeout(() => {
                this.showChannelForm = true
            }, 0)
        },

        closeProjectForm() {
            if (this.showProjectForm) {
                this.showProjectForm = false
            }
        },

        closeChannelForm() {
            if (this.showChannelForm) {
                this.showChannelForm = false
            }
        },

        openContainerDetails(container) {
            setTimeout(() => {
                this.selectedContainer = container
            }, 0)
        },

        closeContainerDetails() {
            if (this.selectedContainer) {
                this.selectedContainer = null
                this.containerEditing = false
            }
        },

        async getContainers() {
            const containers = await fetch(`/api/v1/containers/`).then(r => r.json())
            return containers.map((item) => {
                item.updated_time = new Date(item.updated_time).toLocaleString('sv', {timeZoneName: 'short'})
                return item
            })
        },

        startEditingContainer() {
            this.containerEditing = true
            this.editedContainer = JSON.parse(JSON.stringify(this.selectedContainer))
            this.editedContainer.auth = JSON.stringify(JSON.parse(this.editedContainer.auth), null, '\t')
            this.editedContainer.parameters = JSON.stringify(this.editedContainer.parameters, null, '\t')
            // {#this.editedContainer.parameters = JSON.stringify(this.editedContainer.parameters, undefined, 4)#}
        },

        async editContainer() {
            this.editedContainer.auth = JSON.parse(this.editedContainer.auth)
            this.editedContainer.parameters = JSON.parse(this.editedContainer.parameters)
            delete this.editedContainer.updated_time
            this.selectedContainer = await fetch(`/api/v1/container/`, {
                method: "PATCH",
                body: JSON.stringify(this.editedContainer)
            }).then(r => r.json())
            this.containers = await this.getContainers()
            this.containerEditing = false
        },

        changePage(number) {
            this.pageNumber = Number.parseInt(number)
            this.changeUrl()
        },

        randomColor(channel_id) {
            if (this.colors.length < channel_id) {
                return this.colors[Math.floor(Math.random() * this.colors.length)]
            }
            return this.colors[channel_id - 1]
        }
    },

    async mounted() {
        const project = new URLSearchParams(window.location.search).get('project')
        const channel = new URLSearchParams(window.location.search).get('channel')

        this.projects = await this.getProjects()
        this.channels = await this.getChannels()
        this.containers = await this.getContainers()

        if (project) {
            this.selectedProject = this.projects.filter(item => item.slug === project)[0]
        }

        if (channel) {
            this.selectedChannel = this.channels.filter(item => item.slug === channel)[0]
        }
    }
})
</script>
{% endblock %}