{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
    <main class="lg:col-span-9 xl:col-span-10">
        <div class="">
            <ul class="space-y-4">
                <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
                    <article >
                        <div>
                            <h2 class="mt-4 p-6 text-lg font-normal text-center text-gray-400">
                                Some content
                            </h2>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </main>
<!--{#    <div>#}-->
<!--{#        #}-->
<!--{#        <div>Projects: [[ projects ]]</div>#}-->
<!--{#        <form @submit.prevent="createProject">#}-->
<!--{#            <input type="text" v-model="newProject" placeholder="Create project"/>#}-->
<!--{#            <button type="submit"></button>#}-->
<!--{#        </form>#}-->
<!--{##}-->
<!--{#        <form @submit.prevent="unitAdd">#}-->
<!--{#            <input type="text" v-model="newProject" placeholder="Create project"/>#}-->
<!--{#            <button type="submit"></button>#}-->
<!--{#        </form>#}-->
<!--{#        <div>[[ username ]]</div>#}-->
<!--{#        <div class="text-green-600" v-text="projects"></div>#}-->
<!--{#    </div>#}-->

{% endblock content %}
