{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
{#    <div>#}
{#        #}
{#        <div>Projects: [[ projects ]]</div>#}
{#        <form @submit.prevent="createProject">#}
{#            <input type="text" v-model="newProject" placeholder="Create project"/>#}
{#            <button type="submit"></button>#}
{#        </form>#}
{##}
{#        <form @submit.prevent="unitAdd">#}
{#            <input type="text" v-model="newProject" placeholder="Create project"/>#}
{#            <button type="submit"></button>#}
{#        </form>#}
{#        <div>[[ username ]]</div>#}
{#        <div class="text-green-600" v-text="projects"></div>#}
{#    </div>#}

{% endblock content %}
