<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kapellmeister</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 text-white">
        <div class="relative flex items-center justify-between h-16">
            <div class="uppercase font-bold">Kapellmeister</div>
            {% if username %}
            <div class="absolute right-20">{{ username }}</div>
            <form action="/logout" method="get">
                <button class="bg-white hover:bg-gray-100 text-gray-800 top-4 font-semibold py-1 px-2 border border-gray-400 rounded shadow absolute right-0">
                    Logout
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
{% block content %}
{% endblock content %}
</body>
</html>