{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
<main class="lg:col-span-9 xl:col-span-10">
    <div class="">
        <ul class="space-y-4">
            <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
                <div id="add_token">
                    <button
                            v-if="!showChoices"
                            @click="showTokenForm" type="button"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500">
                        + Token
                    </button>
                    <button
                            v-if="showChoices"
                            @click="hideTokenForm"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500"
                    >Hide
                    </button>

                    <div v-if="showChoices" class="grid justify-items-center">
                        <div class="text-gray-600 font-extrabold tracking-wider uppercase">Create token</div>
                        <form @submit.prevent="createToken">
                            <div class="bg-gray-100 px-3 py-2 rounded-md inline-block">
                                <label for="readOnly">Read Only</label>
                                <input id="readOnly" type="checkbox" v-model="readOnly"
                                       placeholder="Create API token"/>
                            </div>
                            <button type="submit" class="inline-block p-1.5 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500">
                                Create
                            </button>
                        </form>
                    </div>
                </div>
                <article>
                    <div v-if="!tokens.length"
                         class="mt-10 p-6 grid justify-items-center text-gray-600 font-extrabold tracking-wider uppercase">
                        no tokens yet!
                    </div>
                    <div v-else>
                        <div v-if="curr_token"
                             class="text-center mt-10 text-gray-600 font-bold"
                        >Token: [[ curr_token["token"] ]]
                        </div>
                        <div class="mt-10 p-6 font-normal text-center text-gray-400">
                            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative cursor-default">
                                <thead class="bg-gray-200 sticky top-0 border-b border-gray-200 text-center text-gray-600 font-bold tracking-wider uppercase text-xs">
                                <tr>
                                    <th class="px-5 py-2.5">
                                        Token
                                    </th>
                                    <th class="px-5 py-2.5">
                                        Read Only
                                    </th>
                                    <th class="px-5 py-2.5">
                                        <span class="sr-only">Delete</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="token in tokens" class="text-center hover:bg-gray-50">
                                    <td class="text-m text-gray-500 border-t border-gray-200"
                                        v-text="token.token"/>
                                    <td class="border-t border-gray-200 py-2">
                                        <div v-if="token.read_only"><span class="material-icons">&#10004;</span></div>
                                        <div v-else><span class="material-icons"> &#10006;</span></div>
                                    </td>
                                    <td class="border-t p-3 pr-6 whitespace-nowrap text-right text-sm font-medium">
                                        <button
                                                @click="deleteToken(token.id)"
                                                class="text-indigo-600 hover:text-indigo-900 cursor-pointer">
                                            <span class="material-icons text-red-500">
                                                delete_outline
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</main>
{% endblock %}

{% block vuejs %}
<script>
    new Vue({
        el: "#app",

        delimiters: ['[[', ']]'],

        data() {
            return {
                showProjects: false,
                openMobileNav: false,

                selectedProject: null,

                projects: [],
                tokens: [],

                readOnly: true,
                showChoices: false,
                curr_token: ''
            }
        },

        methods: {
            // logout() {
            //     fetch("/logout/", {method: "GET"}).then(() => {
            //         window.location.reload();
            //     })
            // },

            checkWindowLocation(path) {
                return window.location.pathname === path
            },

            getProjectName() {
                return this.selectedProject.name || 'Project'
            },

            createToken: async function () {
                const token = await fetch(`/api/v1/tokens/?read_only=${this.readOnly}`, {method: "POST"}).then(r => r.json())
                this.tokens.push(token)
                this.readOnly = true
                this.curr_token = token
            },

            async getProjects() {
                return await fetch("/api/v1/projects/").then(r => r.json())
            },

            async getTokens() {
                return await fetch("/api/v1/tokens/").then(r => r.json())
            },

            hideProjects: function () {
                this.showProjects = false
            },

            selectProject(project) {
                this.selectedProject = project
                if (history.pushState) {
                    const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?project=' + project.slug;
                    window.history.pushState({path: newUrl}, '', newUrl);
                }
            },

            // show input token form
            showTokenForm: function () {
                this.showChoices = true
            },

            // hide input token form
            hideTokenForm: function () {
                this.showChoices = false
            },

            async deleteToken(token) {
                await fetch(`/api/v1/token/${token}/`, {method: "DELETE"})
                this.tokens = await this.getTokens()
            },
        },

        mounted: async function () {
            const project = new URLSearchParams(window.location.search).get('project');

            this.projects = await this.getProjects()
            this.tokens = await this.getTokens()
            this.selectedProject = this.projects.filter(item => item.slug === project)[0]
        }
    })
</script>
{% endblock %}