{% extends "layout.html" %}

{% block content %}

<button
        @click="showUserForm"
        type="button"
        class="mb-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-rose-500">
    + User
</button>

<!-- Modal Background -->
<div v-if="showChoices"
     class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-gray-700 bg-opacity-70 left-0 right-0 top-0 bottom-0">
    <!--Modal-->
    <div id="add_user_modal"
         v-click-outside="hideUserForm"
         class="mb-4 grid justify-items-center bg-white pt-5 px-8 pb-12 shadow sm:rounded-lg relative">
        <button
                v-if="showChoices"
                @click="hideUserForm"
                class="px-1 absolute right-3 top-3 items-center border border-transparent text-sm font-medium rounded-md
                            text-white shadow-sm bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-pink-500">
            <span class="material-icons text-white pb-1.5">&#10006;</span>
        </button>
        <div class="text-gray-600 my-5 font-extrabold tracking-wider uppercase">Create User</div>

        <form @submit.prevent="createUser()" class="mt-5">
            <div class="w-full sm:max-w-xs">
            <input id="userName"
                   class="mb-4 bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                   type="text"
                   v-model="newUser"
                   placeholder="User name" required/>
            <div class="relative">
            <input
                    id="password"
                    v-model="newPassword"
                    :type="passwordInputType"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    minlength="8"
                    maxlength="64"
                    autocomplete="off"
                    required
                   class="mb-1 bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                    placeholder="User password *"/>
                <div
                        class="inline-block absolute right-8 w-0 top-1.5 items-center  text-sm leading-5 text-gray-700 cursor-pointer transition duration-200 hover:text-blue-700"
                >
                    <i class="material-icons text-sm h-6" @click="show_pass = !show_pass">[[ passwordInputIcon ]]</i>
                </div>
                </div>
                <div class="mb-4 p-3 text-gray-500 break-words">
                    <p class="text-justify text-xs">* - password must contain at least one number
                    <br>and one uppercase and lowercase letter, and
                    <br>at least 8 or more characters
                    </p>
                </div>
            <select id="userRole"
                   class="mb-4 bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                    v-model="selectedRole">
                <option value="" disabled>Choose a role</option>
                <option>admin</option>
                <option>user</option>
            </select>
            <br>
            <select
                   class="mb-4 bg-white relative w-full text-gray-700 rounded-md shadow pl-5 p-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500 focus:border-pink-500 sm:text-sm cursor-text"
                    v-model="selectedProjects" multiple>
                <option value="" disabled>Choose project</option>
                <option v-for="project in projects" :key="project.id" :value="project.id">[[
                    project.name ]]
                </option>
            </select>
            </div>
            <button type="submit"
                    class="absolute right-3 bottom-3 p-1.5 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Create
            </button>
        </form>
    </div>
</div>

<div class="flex flex-col cursor-default">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto border-b border-gray-200 sm:rounded-lg rounded-lg shadow overflow-y-auto relative">
                <table class="divide-y divide-gray-200 border-collapse min-w-full table-striped relative cursor-default">
                    <thead class="bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    <tr>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Username
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Role
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Is active
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Change status
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            Project(s)
                        </th>
                        <th scope="col"
                            class="px-5 py-2.5">
                            +/- project
                        </th>
                        <th scope="col" class="relative px-6 py-3">
                            <span class="sr-only">Delete</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users" :key="user.id" class="text-center hover:bg-gray-50">
                        <td class="p-3 pl-6 whitespace-nowrap text-sm font-medium text-gray-900">
                            [[ user.username ]]
                        </td>
                        <td class="p-3 py-4 text-sm text-gray-500">
                            [[ user.role ]]
                        </td>
                        <td class="p-3 pl-6 whitespace-nowrap text-sm font-medium text-gray-500">
                            <div v-if="user.is_active" class="inline-block">
                                <span class="material-icons">&#10004;</span>
                            </div>
                            <div v-else class="inline-block">
                                <span class="material-icons">&#10006;</span>
                            </div>
                        </td>
                        <td class="p-3 pl-6 whitespace-nowrap text-sm font-medium text-gray-900">
                            <button v-if="user.role != 'super'"
                                    @click="showIsActive(user.id)"
                                    type="button"
                                    class="bg-white relative w-7 h-7 rounded-md shadow text-center
                                            cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500
                                            focus:border-pink-500 sm:text-sm cursor-pointer"
                            >
                                <span class="text-sm text-gray-500">...</span>
                            </button>
                            <ul v-if="user.role != 'super' && menuIsActive == user.id"
                                v-click-outside="hideIsActive"
                                class="absolute z-10 bg-white shadow-lg rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                <li>
                                            <span
                                                    @click="changeIsActive(user.id, true)"
                                                    role="option"
                                                    class="m-2 text-gray-900 cursor-pointer select-none relative hover:bg-indigo-300 rounded-md"
                                            >active</span>
                                </li>
                                <li>
                                            <span
                                                    @click="changeIsActive(user.id, false)"
                                                    class="m-2 text-gray-900 cursor-pointer select-none relative hover:bg-indigo-300 rounded-md"
                                            >no active</span>
                                </li>
                            </ul>
                        </td>
                        <td class="p-3 pl-6 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <span v-for="project in user.projects">
                                        [[ project.name ]]
                                        <span v-if="user.projects.length > 1"> ,</span>
                                    </span>
                        </td>
                        <td class="p-3 pl-6 whitespace-nowrap text-sm font-medium text-gray-900">
                            <button v-if="user.role != 'super'"
                                    @click="showProjectsList(user.id)"
                                    type="button"
                                    title="Add(delete) project to user"
                                    class="bg-white relative w-7 h-7 rounded-md shadow text-center
                                            cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500
                                            focus:border-pink-500 sm:text-sm cursor-pointer"
                            >
                                <span class="text-sm text-gray-500">+/-</span>
                            </button>
                            <ul v-if="projectMenuIsActive == user.id"
                                v-click-outside="hideProjectsList"
                                class="absolute z-10 bg-white shadow-lg rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                <li v-for="project in projects">
                                            <span
                                                    @click="addProjectToUser(user.id, project.id)"
                                                    role="option"
                                                    class="m-2 text-gray-900 cursor-pointer select-none relative hover:bg-indigo-300 rounded-md"
                                            >[[ project.name ]]</span>
                                </li>
                            </ul>
                        </td>
                        <td class="p-3 pr-6 whitespace-nowrap text-sm font-medium text-gray-900">
                            <button v-if="user.role != 'super'"
                                    @click="deleteUser(user.id)"
                                    title="Delete user"
                                    class="text-indigo-600 hover:text-indigo-900 cursor-pointer">
                                        <span class="material-icons text-red-500">
                                            delete_outline
                                        </span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block vuejs %}
<script>
    new Vue({
        el: '#app',

        delimiters: ['[[', ']]'],

        data() {
            return {
                users: [],
                projects: [],
                showChoices: false,
                newUser: '',
                newPassword: '',
                selectedRole: '',
                is_active: true,
                showProjects: false,
                openMobileNav: false,
                selectedProjects: [],
                selectedProject: null,
                show_pass: false,
                menuIsActive: 0,
                projectMenuIsActive: 0
            }
        },

        computed: {
            passwordInputType() {
                return this.show_pass ? 'text' : 'password'
            },

            passwordInputIcon() {
                return this.show_pass ? 'visibility' : 'visibility_off'
            }
        },

        methods: {
            checkWindowLocation(path) {
                return window.location.pathname === path
            },

            async getUsers() {
                return await fetch("/api/v1/users/").then(r => r.json())
            },

            async getProjects() {
                return await fetch("/api/v1/projects/").then(r => r.json())
            },


            // show input user form
            showUserForm: function () {
                setTimeout(() => {
                    this.showChoices = true
                }, 1)
            },

            // hide input user form
            hideUserForm: function () {
                if (this.showChoices) {
                    this.showChoices = false
                    this.newUser = ''
                    this.newPassword = ''
                    this.selectedRole = ''
                    this.selectedProjects = ''
                }
            },

            async createUser() {
                const data = {
                    username: this.newUser,
                    password: this.newPassword,
                    role: this.selectedRole,
                    is_active: this.is_active,
                    projects: this.selectedProjects
                }
                const user = await fetch("/api/v1/users/", {
                    method: "POST",
                    body: JSON.stringify(data)
                }).then(r => r.json())
                this.newUser = ''
                this.newPassword = ''
                this.selectedRole = ''
                this.selectedProjects = ''
                this.users.push(user)
                this.hideUserForm()
            },

            async deleteUser(user_id) {
                await fetch(`/api/v1/users/${user_id}/`, {method: "DELETE"})
                this.users = await this.getUsers()
            },

            async changeIsActive(user_id, is_active) {
                await fetch(`/api/v1/users/${user_id}/`, {method: "PATCH", body: JSON.stringify({is_active})})
                this.users = await this.getUsers()
                this.hideIsActive()
            },

            // show user is active menu
            showIsActive(user_id) {
                setTimeout(() => {
                    this.menuIsActive = user_id
                }, 2)
            },
            // hide user is active menu
            hideIsActive: function () {
                if (this.menuIsActive) {
                    this.menuIsActive = 0
                }
            },

            // show projects menu list
            showProjectsList(user_id) {
                setTimeout(() => {
                    this.projectMenuIsActive = user_id
                }, 2)
            },
            // hide projects menu list
            hideProjectsList: function () {
                if (this.projectMenuIsActive) {
                    this.projectMenuIsActive = 0
                }
            },

            async addProjectToUser(user_id, project_id) {
                await fetch(`/api/v1/users/${user_id}/${project_id}/`, {method: "PATCH"})
                this.users = await this.getUsers()
                this.hideProjectsList()
            }
        },

        mounted: async function () {
            const project = new URLSearchParams(window.location.search).get('project');

            this.users = await this.getUsers()

            this.projects = await this.getProjects()
            this.selectedProject = this.projects.filter(item => item.slug === project)[0]
        }
    });
</script>
{% endblock %}