{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
<main class="lg:col-span-9 xl:col-span-10">
    <div class="">
        <ul class="space-y-4">
            <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
                <div id="add_user">
                    <button
                            v-if="!showChoices"
                            @click="showUserForm" type="button"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-rose-500">
                        + User
                    </button>
                    <button
                            v-if="showChoices"
                            @click="hideUserForm"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500"
                    >Hide
                    </button>

                    <div v-if="showChoices" class="grid justify-items-center">
                        <div class="text-gray-600 my-5 font-extrabold tracking-wider uppercase">Create User</div>
                        <form @submit.prevent="createUser()">
                            <input class="bg-gray-100 px-3 py-2 rounded-md" type="text" v-model="newUser"
                                   placeholder="Create User"/>
                            <input
                                    id="password"
                                    v-model="newPassword"
                                    :type="passwordInputType"
                                    min="4"
                                    maxlength="64"
                                    autocomplete="off"
                                    required
                                    class="bg-gray-100 px-3 py-2 rounded-md"
                                    placeholder="Create Password"/>
                            <div
                                    class="inline-block relative right-8 w-0 top-1.5 items-center  text-sm leading-5 text-gray-700 cursor-pointer transition duration-200 hover:text-blue-700"
                            >
                                <i class="material-icons h-6" @click="show_pass = !show_pass">[[ passwordInputIcon
                                    ]]</i>
                            </div>
                            <select class="bg-gray-100 px-3 py-2 rounded-md relative -left-1" v-model="selectedRole">
                                <option value="" disabled>Choose a role</option>
                                <option>admin</option>
                                <option>user</option>
                            </select>
                            <button type="submit" class="p-1.5 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500">
                                Create
                            </button>
                        </form>
                    </div>
                </div>

                <article>
                    <div class="mt-10 p-6 text-lg font-normal text-center text-gray-400">
                        <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative cursor-default">
                            <thead class="bg-gray-200 sticky top-0 border-b border-gray-200 text-center text-gray-600 font-bold tracking-wider uppercase text-xs">

                            <tr>
                                <th class="px-5 py-2.5">
                                    Username
                                </th>
                                <th class="px-5 py-2.5">
                                    Role
                                </th>
                                <th class="px-5 py-2.5">
                                    Is active
                                </th>
                                <th class="px-5 py-2.5">
                                    <span class="sr-only">Delete</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users" :key="user.id" class="text-center hover:bg-gray-50">
                                <td class="text-sm text-gray-500 border-t border-gray-200 py-2"
                                    v-text="user.username"/>
                                <td class="text-sm text-gray-500 border-t border-gray-200 py-2"
                                    v-text="user.role"/>
                                <td class="text-sm border-t border-gray-200 py-2">
                                    <div v-if="user.is_active" class="inline-block"><span class="material-icons">&#10004;</span>
                                    </div>
                                    <div v-else class="inline-block"><span class="material-icons"> &#10006;</span></div>

                                    <button v-if="user.role != 'super'"
                                            @click="showIsActive(user.id)"
                                            type="button"
                                            class="bg-white relative w-7 h-7 rounded-md shadow text-center
                                            cursor-default focus:outline-none focus:ring-1 focus:ring-pink-500
                                            focus:border-pink-500 sm:text-sm cursor-pointer"
                                    >
                                        <span class="material-icons text-gray-500">more_horiz</span>
                                    </button>
                                    <ul v-if="user.role != 'super'"
                                            class="absolute z-10 bg-white shadow-lg rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                        <li>
                                            <span v-if="menuIsActive == user.id"
                                                  @click="changeIsActive(user.id, true)"
                                                  role="option"
                                                  class="m-2 text-gray-900 cursor-pointer select-none relative hover:bg-indigo-300 rounded-md"
                                            >active</span>
                                        </li>
                                        <li>
                                            <span v-if="menuIsActive == user.id"
                                                  @click="changeIsActive(user.id, false)"
                                                  class="m-2 text-gray-900 cursor-pointer select-none relative hover:bg-indigo-300 rounded-md"
                                            >no active</span>
                                        </li>
                                    </ul>
                                </td>
                                <td class="border-t p-3 pr-6 whitespace-nowrap text-right text-sm font-medium">
                                    <button v-if="user.role != 'super'"
                                            @click="deleteUser(user.id)"
                                            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">
                                        <span class="material-icons text-red-500">
                                            delete_outline
                                        </span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</main>
{% endblock content %}

{% block vuejs %}
<script>
    new Vue({
        el: '#app',

        delimiters: ['[[', ']]'],

        data() {
            return {
                users: [],
                showChoices: false,
                newUser: '',
                newPassword: '',
                selectedRole: '',
                is_active: true,
                showProjects: false,
                openMobileNav: false,
                selectedProject: null,
                show_pass: false,
                menuIsActive: 0
            }
        },

        computed: {
            passwordInputType() {
                return this.show_pass ? 'text' : 'password'
            },

            passwordInputIcon() {
                return this.show_pass ? 'visibility' : 'visibility_off'
            }
        },

        methods: {
            checkWindowLocation(path) {
                return window.location.pathname === path
            },

            logout() {
                fetch("/logout", {method: "POST"}).then(() => {
                    window.location.reload();
                })
            },

            async getUsers() {
                return await fetch("/api/v1/users/").then(r => r.json())
            },

            // show input user form
            showUserForm: function () {
                this.showChoices = true
            },

            // hide input user form
            hideUserForm: function () {
                this.showChoices = false
            },

            async createUser() {
                const data = {
                    username: this.newUser,
                    password: this.newPassword,
                    role: this.selectedRole,
                    is_active: this.is_active
                }
                const user = await fetch("/api/v1/user/", {
                    method: "POST",
                    body: JSON.stringify(data)
                }).then(r => r.json())
                this.newUser = ''
                this.newPassword = ''
                this.selectedRole = ''
                this.users.push(user)
            },

            async deleteUser(user_id) {
                await fetch(`/api/v1/user/${user_id}/`, {method: "DELETE"})
                this.users = await this.getUsers()
            },

            async changeIsActive(user_id, status) {
                await fetch(`/api/v1/is_active/${user_id}/${status}/`, {method: "PATCH"})
                this.users = await this.getUsers()
            },

            showIsActive: function (user_id) {

                if (this.menuIsActive) {
                    // this.menuIsActive = false
                    this.menuIsActive = user_id
                } else {
                    this.menuIsActive = 0
                }
            },
        },

        mounted: async function () {
            this.users = await this.getUsers()
        }
    });
</script>
{% endblock %}