{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
<main class="lg:col-span-9 xl:col-span-10">
    <div class="">
        <ul class="space-y-4">
            <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
                <div id="add_user">
                    <button
                            v-if="!showChoices"
                            @click="showUserForm" type="button"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-rose-500">
                        + User
                    </button>
                    <button
                            v-if="showChoices"
                            @click="hideUserForm"
                            class="mx-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500"
                    >Hide
                    </button>

                    <div v-if="showChoices" class="grid justify-items-center">
                        <div class="text-gray-600 font-extrabold tracking-wider uppercase">Create User</div>
                        <form @submit.prevent="createUser()">
                            <input class="bg-gray-100" type="text" v-model="newUser" placeholder="Create User"/>
                            <input class="bg-gray-100" type="text" v-model="newPassword" placeholder="Create Password"/>
                            <select class="bg-gray-100 w-auto" v-model="selectedRole">
                                <option value="0" disabled>User role</option>
                                <option>super</option>
                                <option>admin</option>
                                <option>user</option>
                            </select>
                            <button type="submit" class="p-0.5 border border-transparent text-sm font-medium rounded-md
                            shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-rose-500">
                                Create
                            </button>
                        </form>
                    </div>

                </div>
                <article>
                    <div class="mt-10 p-6 text-lg font-normal text-center text-gray-400">
                        <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative cursor-default">
                            <thead>
                            <tr class="text-center">
                                <th class="bg-gray-300 sticky top-0 border-b border-gray-200 px-6 py-4 text-gray-600 font-extrabold tracking-wider uppercase text-xs">
                                    Username
                                </th>
                                <th class="bg-gray-300 sticky top-0 border-b border-gray-200 px-6 py-4 text-gray-600 font-extrabold tracking-wider uppercase text-xs">
                                    Role
                                </th>
                                <th class="bg-gray-300 sticky top-0 border-b border-gray-200 px-6 py-4 text-gray-600 font-extrabold tracking-wider uppercase text-xs">
                                    Is active
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users" :key="user.id" class="text-center hover:bg-gray-50">
                                <td class="border-dashed border-t border-gray-200" v-text="user.username"/>
                                <td class="border-dashed border-t border-gray-200" v-text="user.role"/>
                                <td class="border-dashed border-t border-gray-200" v-text="user.is_active"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</main>
{% endblock content %}

{% block vuejs %}
<script>
    new Vue({
        el: '#app',

        delimiters: ['[[', ']]'],

        data() {
            return {
                users: [],
                showChoices: false,
                newUser: '',
                newPassword: "",
                selectedRole: "",
                is_active: true
            }
        },

        methods: {
            async getUsers() {
                return await fetch("/api/v1/users/").then(r => r.json())
            },

            // show input user form
            showUserForm: function () {
                this.showChoices = true
            },

            // hide input user form
            hideUserForm: function () {
                this.showChoices = false
            },

            async createUser() {
                const data = {
                    username: this.newUser,
                    password: this.newPassword,
                    role: this.selectedRole,
                    is_active: this.is_active
                }
                await fetch("/api/v1/user/", {method: "POST", body: JSON.stringify(data)}).then(() => {
                    this.newUser = ''
                    this.newPassword = ''
                    this.selectedRole = ''
                })
            }
        },

        mounted: async function () {
            this.users = await this.getUsers()
        }

    });
</script>
{% endblock %}